{% extends 'base.html' %}

{% block main %}
<div class="row mt-5">
  
  <div class="col-8">
    <h2 class="fw-lighter text-start">Entregas registradas</h2>
  </div>

  
  <div class="col-2 text-end">
   <a href="{% url 'Nova' %}"> <button type="button" class="btn btn-primary">Nova Entrega</button></a>
  </div>
  
  <div class="col-2 text-end">
    <a href="{% url 'Entregas' %}"> <button type="button" class="btn btn-outline-primary">Todas Entregas</button></a>
  </div>
  
    <!-- <div class="col">
    <form class="form-inline my-2 my-lg-0">
      <input  class="form-control mr-sm-5" 
              type="search" placeholder="nº casa/apto" 
              aria-label="Search"
              autocomplete="false"
              maxlength="3"
              >
      
              <a href="{% url 'f_morador' %}"><button class="btn btn-outline-primary" type="submit">Buscar</button></a>
    </form>
  </div> -->
</div>

<div class="row">
  <div class="col">
    <table class="table mt-3 fw-lighter">
        <thead>
          <tr>
            <th scope="col">OE</th>
            <th scope="col">NF / Identificador</th>
            <th scope="col">Data de entrada</th>
            <th scope="col">Data de retirada</th>
            <th scope="col">Local</th>
            <th scope="col">Casa/Apto</th>
            <th scope="col">Responsável</th>
            <th scope="col">Retirada?</th>
          </tr>
        </thead>
        <tbody>
          {% for ent_pen in ent_pen %}
          <tr>
            <td>OE/{{ ent_pen.id }}</td>
            <td>{{ ent_pen.nota_fiscal }}</td>
            <td>{{ ent_pen.data_entrada|date:'d/m/y - G:i' }}</td>
            <td>
              {% if ent_pen.status == False %}
              {% else %}
              {{ ent_pen.data_retirada|date:'d/m/y - G:i' }}
              {% endif %}
            </td>
            <td>{{ ent_pen.modulo }}</td>
            <td>{{ ent_pen.morador }}</td>
            <td>{{ ent_pen.recebido_por.first_name }}</td>
            <td>
              {% if ent_pen.status == False %}
              <a class="btn btn-danger btn-sm" href="{% url 'Atualizar_entrega' ent_pen.id %}" {{ ent_pen.status }}>Não</a>
              {% else %}
              <span class="btn btn-light btn-sm disabled">Sim</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>
    </div>
  </div>
{% endblock %}