{% extends 'guests/base-guests.html' %}
{% load static %}

{% block main %}
<div class="row">
    <h1 class="text-center">Criar novo Convidado</h1>
    <p class="text-center">Use o formulário abaixo para criar novos convidado</p>
    <div class="col text-center mt-3">
      <form action="{% url 'guests_novo_convidado' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Criar Convidado</button>
      </form>
    </div> 
  </div>  
{% endblock %}