{% extends 'parking/base-parking.html' %}
{% load static %}

{% block main %}
<div class="row mt-5">
  <h1>Gestão de vagas para o seu condominio!</h1>
  <p>Organize e resolva o problema de vagas no seu condominio</p>
</div>

<div class="row">
  <div class="col">
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Número da vaga</th>
        <th scope="col">Estacionamento</th>
        <th scope="col">Ocupada?</th>
      </tr>
    </thead>
    
    <tbody>
    {% for vaga in vaga %}
      <tr>
        <td>{{ vaga.numero_vaga }}</td>
        <td>{{ vaga.estacionamento }}</td>
        <td>{{ vaga.status_vaga }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}