{% extends 'resident/base-resident.html' %}
{% load static %}

{% block main %}
<div class="row">
  <h1 class="text-center">Criar novo evento</h1>
  <p class="text-center">Use o formulário abaixo para criar novos eventos</p>
  <div class="col text-center mt-3">
    <form action="{% url 'atualizar_morador' atualizar_morador.id %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Atualizar</button>
    </form>
  </div> 
</div>  
{% endblock %}